
3. Version 2 - In Progress/LoRa-Slave-V2/debug.cfg
3. Version 2 - In Progress/LoRa-Slave-V2/debug_custom.json
3. Version 2 - In Progress/LoRa-Slave-V2/esp32.svd
3. Version 2/Valve Control Codes/Valve_Control_Duplicate/esp32.svd
3. Version 2/Valve Control Codes/Valve_Control_Duplicate/debug.cfg
3. Version 2/Valve Control Codes/Valve_Control_Duplicate/debug_custom.json
3. Version 2/LoRa-Slave-V2/debug.cfg
3. Version 2/LoRa-Slave-V2/debug_custom.json
3. Version 2/LoRa-Slave-V2/esp32.svd
4. Final Version - In Progress/LoRa-Slave-Final/debug.cfg
4. Final Version - In Progress/LoRa-Slave-Final/debug_custom.json
4. Final Version - In Progress/LoRa-Slave-Final/esp32.svd
